/* -----------------------------------------------------------
   12. CONTATO
   ----------------------------------------------------------- */
.prt_contact_wrapper {
    background-color: var(--surface-page);
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    display: none;
    padding: 80px 0 0;
}

.prt_contact_info {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}

.prt_contact_info h1 {
    font: var(--heading-2);
    display: inline-block;
    margin: 0 0 35px 0;
    text-transform: uppercase;
}

.prt_contact_form {
    display: inline-block;
    width: 100%;
}

.prt_contact_form input,
.prt_contact_form textarea {
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
    border: 0;
    background-color: var(--surface-soft);
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    color: var(--text-heading);
    transition: var(--transition-fast);
}

.prt_contact_form input:hover,
.prt_contact_form input:focus,
.prt_contact_form textarea:hover,
.prt_contact_form textarea:focus {
    background-color: var(--surface-soft-hover);
}

.prt_contact_form textarea {
    height: auto;
    resize: vertical;
}
