/* -----------------------------------------------------------
   1. RESET BÁSICO
   ----------------------------------------------------------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------------------------------------------------------
   2. VARIÁVEIS GLOBAIS (TOKENS)
   ----------------------------------------------------------- */
:root {
    /* Fonte base */
    --font-family-base: 'Montserrat', sans-serif;

    /* Escalas de texto */
    --text: 400 0.9375rem/1.5 var(--font-family-base);   /* 15px corpo */
    --text-sm: 400 0.875rem/1.4 var(--font-family-base); /* 14px */
    --heading-1: 500 2.5rem/1.1 var(--font-family-base); /* ~40px */
    --heading-2: 500 1.875rem/1.1 var(--font-family-base); /* ~30px */
    --heading-3: 400 1.125rem/1.1 var(--font-family-base); /* ~18px */
    --heading-hero: 700 6.25rem/1.1 var(--font-family-base); /* ~100px+ */

    /* Cores de texto */
    --text-body: #717171;
    --text-heading: #202020;
    --text-inverse: #ffffff;
    --text-muted: #717171;
    --text-accent: #f6483b;

    /* Cores de fundo */
    --surface-page: #ffffff;
    --surface-soft: #f5f5f5;
    --surface-soft-hover: #e1e1e1;
    --surface-footer: #f5f5f5;
    --footer: #ecf0f1;

    /* Bordas / strokes */
    --stroke-strong: #202020;
    --stroke-soft: #d6d3d1;
    --stroke-dark: #000000;

    /* Overlays / layers */
    --overlay-strong: rgba(0, 0, 0, 0.85);
    --overlay-soft: rgba(0, 0, 0, 0.75);
    --overlay-light: rgba(255, 255, 255, 0.5);

    /* Paleta auxiliar */
    --accent: #f6483b;
    --accent-alt-1: #1b73ff;
    --accent-alt-2: #c82663;
    --accent-alt-3: #76c239;
    --neutral-900: #000000;
    --neutral-700: #666666;
    --neutral-800: #1c1c1c;

    /* home_wrapper Header*/
    --background_header: #fff;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    --line-experience: #ff5e57;

    /* Botões */
    --btn-height: 50px;
    --btn-radius: 0px;
    --btn-bg: var(--accent);
    --btn-border: var(--accent);
    --btn-text: #ffffff;
    --btn-font: 400 0.9375rem/1 var(--font-family-base);
    --btn-hover: #ff5e57;
    --btn-shadow: 0 6px 20px rgba(255, 94, 87, 0.4);
   

    /* Tipografia headings reutilizável */
    --h-section-title: 500 2.5rem/1.1 var(--font-family-base);   /* .prt_heading h1 */
    --h-section-sub: 500 1.125rem/1.1 var(--font-family-base);   /* textos de apoio */

    /* Outros tokens */
    --transition-fast: all 0.3s ease;
    --shadow-scroll-track: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


/* -----------------------------------------------------------
   3. BODY
   ----------------------------------------------------------- */
body {
    font: var(--text);
    color: var(--text-body);
    background-color: var(--surface-page);
    -webkit-font-smoothing: antialiased;
}


