@import url(global.css);
@import url(tipografia.css);
@import url(img-inputs-textarea.css);

@import url(heading_component.css);
@import url(botao_principal.css);
@import url(wrapper.css);
@import url(contato.css);
@import url(contato.css);
@import url(sobre.css);