/* -----------------------------------------------------------
   1. MAIN WRAPPER
   ----------------------------------------------------------- */
.prt_main_wrapper {
    position: relative;
    overflow-x: hidden;
}

.prt_main_wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--shadow-scroll-track);
    background-color: var(--neutral-700);
}

.prt_main_wrapper::-webkit-scrollbar {
    width: 0.1px;
    background-color: #f5f5f5;
}

.prt_main_wrapper::-webkit-scrollbar-thumb {
    background-color: var(--neutral-900);
}

/* -----------------------------------------------------------
   2. HOME WRAPPER
   ----------------------------------------------------------- */
.prt_home_wrapper {
    background-image: url(../images/content/banner_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
    padding: 200px 0;
}

.prt_home_wrapper h1 {
    position: absolute;
    top: 50%;
    font: var(--heading-hero);
    color: var(--text-inverse);
    font-weight: 700;
    background: url(../images/content/banner_text_bg.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

/* -----------------------------------------------------------
   3. LOGO
   ----------------------------------------------------------- */
.prt_logo_wrapper img{
    position: fixed;
    left: 50px;
    top: 50px;
    z-index: 2;
    width: 80px;
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  -ms-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotatey(360deg);
  }
}
@-moz-keyframes rotate {
  100% {
    -moz-transform: rotatey(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotatey(360deg);
  }
}