/* -----------------------------------------------------------
   1. MAIN WRAPPER
   ----------------------------------------------------------- */
.prt_main_wrapper {
    position: relative;
    overflow-x: hidden;
}

.prt_main_wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--shadow-scroll-track);
    background-color: var(--neutral-700);
}

.prt_main_wrapper::-webkit-scrollbar {
    width: 0.1px;
    background-color: #f5f5f5;
}

.prt_main_wrapper::-webkit-scrollbar-thumb {
    background-color: var(--neutral-900);
}

/* -----------------------------------------------------------
   2. HOME WRAPPER
   ----------------------------------------------------------- */
.prt_home_wrapper {
    background-image: url(../images/content/banner_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
    padding: 200px 0;
}


.prt_home_wrapper h1 {
    position: absolute;
    top: 50%;
    font: var(--heading-hero);
    color: var(--text-inverse);
    font-weight: 700;
    background: url(../images/content/banner_text_bg.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
}

/* -----------------------------------------------------------
   3. LOGO
   ----------------------------------------------------------- */
.prt_logo_wrapper img{
    position: fixed;
    left: 50px;
    top: 50px;
    z-index: 2;
    width: 60px;
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  -ms-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotatey(360deg);
  }
}
@-moz-keyframes rotate {
  100% {
    -moz-transform: rotatey(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotatey(360deg);
  }
}


/* -----------------------------------------------------------
   4. Navegação principal
   ----------------------------------------------------------- */

.prt_menu_wrapper a {
    position: absolute;
    text-transform: uppercase;
    color: rgb(32, 32, 32);
    font-size: 18px;
    z-index: 1;
    font-weight: 500;
    letter-spacing: 5px;
    transition: 0.3s;
}

a {
    color: rgb(113, 113, 113);
    cursor: pointer;
    text-decoration: none;
}

.prt_menu_wrapper {
    text-align: center;
}

/* SOBRE MIM - Centralizado no topo */
.prt_menu_wrapper a.prt_top {
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}

/* CONTATO - Centralizado na direita (verticalmente) */
.prt_menu_wrapper a.prt_right {
    top: 50%;
    right: 45px;
    transform: translateY(-50%) rotateZ(90deg);
    transform-origin: center;
}

/* HABILIDADES - Centralizado no bottom */
.prt_menu_wrapper a.prt_bottom {
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}

/* PORTFÓLIO - Centralizado na esquerda (verticalmente) */
.prt_menu_wrapper a.prt_left {
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotateZ(-90deg);
    transform-origin: center;
}